@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap'); */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Hind Siliguri', sans-serif; */
}

body {
    font-size: 1rem;
    line-height: 1.3;
    color: #000;
    background-color: #fff;
    overflow: hidden;
}

.area-main {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4%;
    justify-content: space-between;
    height: 120px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.site-logo img {
    height: 120px;
}

.site-nav-menu {
    list-style-type: none;
    font-weight: 500;
    margin: 10px 0px;
    padding: 5px 0px;
}

.site-nav li {
    display: inline-block;
    padding: 0 15px;
}

.site-nav li a {
    color: #000;
    text-decoration: none;
}

.site-nav ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(7, 7, 7);
    display: block;
    margin: auto;
    border-radius: 2px;
    transition: 0.5s;
}

.site-nav ul li:hover::after {
    width: 100%;
}

.site-nav ul li a:hover {
    color: coral;
}

.site-nav-link {
    padding-left: 10px;
}



/*--------------- Main Container ---------------*/


.main-container {
    overflow: scroll;
    height: calc(100vh - 120px);
    padding: 0px 4%;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.main-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.each-item-wrapper {
    display: grid;
    grid-gap: 45px 45px;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    padding: 25px 0px;
}

.each-item {
    position: relative;
    text-align: center;
    color: white;
    height: 700px;
    overflow: hidden;
}

/* .shadow1:hover{
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.3);
} */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 500;
}

.each-item img {
    width: 100%;
    height: 100%;
}

.centered a {
    text-decoration: none;
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Galada', cursive; */
    font-family: 'Libre Bodoni', serif;
    color: rgb(255, 255, 255);
}

/* Image effect */
.each-item img {
    transition: transform 1s ease;
}

.each-item img:hover {
    transform: scale(1.3);
    opacity: 0.9;
}


/* Colummns with two rows */

.each-item-half {
    overflow: hidden;
    position: relative;
    color: white;
    display: grid;
    grid-gap: 45px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.each-half-content {
    position: relative;
    text-align: center;
    color: white;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.each-item-half img {
    width: 100%;
    height: 100%;
}

.each-half-content .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-weight: 500;
}

/* .shadow2:hover{
    box-shadow: 0 4px 4px 4px rgba(0,0,0,0.3);
} */



/*-------- Details------- */
.details {
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 25px;
}

.details h1 {
    padding: 25px;
    margin-top: 60px;
    font-weight: 600;
}

.details .address {
    padding: 25px;
}

.details .timing {
    padding: 25px;
}


/* ------Details Buttons----- */
.button-div {
    padding: 25px;
}

.details button.linkButton {
    cursor: pointer;
    padding: 12px 20px;
    border: 3px solid #040404;
    border-radius: 2px;
    /* text-transform: uppercase; */
    font-size: .9rem;
    font-weight: 500;
    background: transparent;
}

.details button.linkButton:hover {
    border: 3px solid rgb(6, 254, 101);
}


/*------- Footer Part------ */

.feedback p {
    padding: 30px 10%;
}

.feedback h3 {
    padding-top: 30px;
    font-size: 1rem;
}

.line-bottom {
    padding: 0px 4%;
    height: 3px;
    background: rgb(10, 10, 10);
}

.footer {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 5px 0px 70px 0px;
}

.footer .f-icons a {
    padding-right: 10px;
    color: black;
}

.footer .f-icons a:hover {
    color: coral;
}

.footer p {
    font-weight: 600;
}


/* -------Menu page-------- */
.menu-above {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    /* overflow: auto; */
}

.menu-above h1 {
    padding: 0px 10px;
}

.button-inline {
    display: inline-block;
    padding: 6px 8px;
}

.menu-buttons .linkButton {
    cursor: pointer;
    padding: 8px 18px;
    border: 2px solid #040404;
    border-radius: 2px;
    font-size: .8rem;
    font-weight: 500;
    background: transparent;
}

.menu-buttons .linkButton:hover {
    border: 2px solid rgb(6, 254, 101);
}
.menu-buttons{
    padding: 10px 0px;
}
.button-inline .active {
    border: 2px solid rgb(6, 254, 101);
}

.text-bill {
    background-color: yellow;
    width: auto;
    justify-self: center;
    font-family: 1rem;
}

.text-note {
    width: 500px;
    justify-self: center;
    padding: 10px 0px;
}

.each-menu-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, 1fr);
    align-items: center;
    justify-content: center;
}

.each-menu-item {
    width: 600px;
    height: 500px;
    justify-self: center;
}

.menu-image-big {
    width: 90%;
    height: 400px;
}

.menu-image-mid {
    width: 90%;
    height: 350px;
}

.menu-food-detail {
    margin: auto;
    align-content: center;
}


/*--------- Contact Page------- */

.contact-item-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.each-contact-item {
    width: 600px;
    height: 500px;
    justify-self: center;
}

.comment-box {
    margin: 20px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.comment-form button {
    margin: 8px 0;
}

.contact-button {
    cursor: pointer;
    padding: 12px 20px;
    border: 2px solid #040404;
    border-radius: 2px;
    font-size: .9rem;
    font-weight: 500;
    background: transparent;
}

.contact-button:hover {
    border: 2px solid rgb(6, 254, 101);
}

a {
    text-decoration: none;
    color: #000;
}

.each-contact-item span {
    padding-right: 8px;
}


/* About page */
.about-item-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.each-about-item {
    width: 500px;
    height: 600px;
    justify-self: center;
}

/* ------Gallery page-------- */

.gallery-item-wrapper {
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    margin: 40px 0px;
}

.each-gallery-item {
    height: 350px;
    width: 400px;
    cursor: pointer;
    /* box-shadow: 0 1px 1px 1px rgba(61, 56, 56, 0.3); */
}

.each-gallery-item img {
    width: 100%;
    height: 100%;
}





/*---------- Responsive ------*/

@media screen and (max-width: 700px) {
    .each-item-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .site-nav li {
        padding: 5px 5px;
        float: left;
    }
    .footer {
        display: inline-block;
    }
    .each-item {
        height: auto;
        width: auto;
    }
    .each-half-content {
        height: auto;
        width: auto;
    }

    .each-menu-item{
        width: 90%;
        height: auto;
        justify-self: center;
    }
    .menu-buttons .linkButton {
        padding: 3px 18px;
    }
    .menu-image-big {
        width: 100%;
        height: 350px;
    }
    .menu-image-mid {
        width: 100%;
        height: 300px;
    }
    .each-about-item{
        width: auto;
        height: auto;
        justify-self: center;
    }
    .each-contact-item{
      width: auto;
      height: auto;
    }
    .menu-above h1 {
        padding: 20px 5px;
    }
    .button-inline {
        display: inline-block;
        padding: 3px 8px;
    }
    .text-note{
        width: auto;
    }

    .each-gallery-item {
        width: 100%;
        height: 350px;
        padding: 10px;
        justify-self: center;
    }
    .gallery-item-wrapper {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0px;
    }
    .each-gallery-item img {
        width: 100%;
        height: 100%;
    }
}